.start-body-content-section {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px #eee;
    border: solid 1px #eee;
    padding: 20px 10px 10px 10px;
    margin-top: 20px;
}

.start-body-content-section:first-child {
    margin-top: 0;
}

.start-body-content-section > .title {
    font-size: 18px;
    font-weight: 600;
}

.start-body-content-section > .wrapper {
    display: flex;
    flex-direction: row;
    /*background-color: rgba(255, 255, 255, 1);*/
    /*border-radius: 10px;*/
    /*box-shadow: 0 0 10px #eee;*/
    margin-top: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.start-body-content-section > .wrapper::-webkit-scrollbar {
    display: none;
}

.start-body-content-section > .wrapper > .start-body-content-section-item {
    min-width: 40%;
    background-image: url("https://www.bain.com/contentassets/a09b8e117536469d9f00a4e4dbc264ee/beijing-3_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 3 / 2;
    margin-right: 10px;
    border-radius: 10px;
}

.start-body-content-section > .wrapper > .start-body-content-section-item:last-child {
    margin-right: 0;
}

