.panel-word-list {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    grid-column: span 8;
    padding: 10px;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.1);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    /*align-items: start;*/
    align-content: start;
}

.panel-word-list > .panel-word-list-item {
    grid-column: span 4;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.1);
    border: 1px solid rgba(240, 240, 240, 0.5);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
}

.panel-word-list > .panel-word-list-item > .word {
    flex: 1;
    overflow: scroll;
}

.panel-word-list > .panel-word-list-item > .delete-button {
    min-width: 10px;
}

.panel-word-list > .panel-word-list-item > .delete-button > .icon {
    color: #fff;
    transition: all ease-in-out 100ms;
}

.panel-word-list > .panel-word-list-item > .delete-button:hover > .icon {
    color: #d55252;
    transition: all ease-in-out 100ms;
}

.panel-word-list > .panel-word-list-item:hover .icon {
    color: #ffc9c9;
    transition: all ease-in-out 100ms;
}

.delete-alert-dialog {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-radius: 10px !important;
    backdrop-filter: blur(20px);
    font-family: "JetBrains Mono", monospace !important;
}

.delete-alert-dialog .cancel-button {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
    border: 1px solid #eee;
    box-shadow: 0 0 5px rgba(200, 200, 200, 0.1);
}

.delete-alert-dialog .confirm-button {
    background-color: rgb(211, 62, 62);
    color: #fff;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
}



