.dictionary-result-word {
    grid-column: span 4;
    grid-row: span 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    aspect-ratio: 1 / 1;
    font-family: "JetBrains Mono", monospace;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

.dictionary-result-word.a1-level {

}

.dictionary-result-word.a2-level {

}

.dictionary-result-word.b1-level {

}

.dictionary-result-word.b2-level {

}

.dictionary-result-word.c1-level {

}

.dictionary-result-word.c2-level {

}

.dictionary-result-word > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dictionary-result-word > .wrapper > .word {
    font-size: 1.5em;
    font-weight: 800;
}

.dictionary-result-word > .wrapper > .type-and-level {
    font-size: 0.75em;
    font-weight: 400;
}

.dictionary-result-word > .wrapper > .word.a1-level,
.dictionary-result-word > .wrapper > .type-and-level.a1-level {

}

.dictionary-result-word > .wrapper > .word.a2-level,
.dictionary-result-word > .wrapper > .type-and-level.a2-level {

}

.dictionary-result-word > .wrapper > .word.b1-level,
.dictionary-result-word > .wrapper > .type-and-level.b1-level {

}

.dictionary-result-word > .wrapper > .word.b2-level,
.dictionary-result-word > .wrapper > .type-and-level.b2-level {

}

.dictionary-result-word > .wrapper > .word.c1-level,
.dictionary-result-word > .wrapper > .type-and-level.c1-level {

}

.dictionary-result-word > .wrapper > .word.c2-level,
.dictionary-result-word > .wrapper > .type-and-level.c2-level {

}