.dictionary-view-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
}

.dictionary-view-header .flex-spacer {
    flex: 1;
}


@media (max-width: 860px) {
    .dictionary-view-header .lambda-header-title {
        display: none;
    }

    .dictionary-view-header .flex-spacer {
        flex: 0;
    }

    .dictionary-view-header .lambda-dictionary-search-box {
        flex: 1;
    }

}